<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="catKeeperMapper">

	<insert id="saveCatKeeper" parameterType="String">
		INSERT
	      INTO
	      	   CAT_KEEPER
	    VALUES
	    	  	   (
	    	  	   SEQ_CAT_KEEPER.NEXTVAL
	    	  	 , #{catKeeperName}
	    	  	   )
	</insert>
	
	<resultMap id="catKeeperResultMap" type="catKeeper">
    		<id column="CAT_KEEPER_ID" property="catKeeperId"/>
    		<result column="CAT_KEEPER_NAME" property="catKeeperName"/>
    		<collection property="cats" ofType="cat">
        		<id column="CAT_ID" property="catId"/>
        		<result column="CAT_NAME" property="catName"/>
    		</collection>
	</resultMap>

	<select id="findAllCatKeeper" resultMap="catKeeperResultMap">
	    SELECT
           	   CAT_KEEPER_ID
         	 , CAT_KEEPER_NAME
         	 , CAT_ID
         	 , NVL(CAT_NAME, '없음') CAT_NAME
      	  FROM
           	   CAT_KEEPER
      	  LEFT
      	  JOIN
           	   CAT USING(CAT_KEEPER_ID)
     	 ORDER
        	BY
           	   CAT_KEEPER_ID DESC
	</select>

	<select id="findCatAndCatKeeper" parameterType="map" resultMap="catKeeperResultMap">
    		SELECT
     	       CAT_KEEPER_ID
             , CAT_KEEPER_NAME
             , CAT_ID
             , CAT_NAME
      	  FROM
               CAT_KEEPER
      	  LEFT
       	  JOIN
          	   CAT USING(CAT_KEEPER_ID)
         WHERE
    		   <choose>
        	   		<when test="condition == 'CAT_KEEPER_ID'">
   			   CAT_KEEPER_ID = TO_NUMBER(#{keyword})
			        </when>
        			<otherwise>
               CAT_KEEPER_NAME LIKE '%' || #{keyword} || '%'
        			</otherwise>
    		   </choose>
	</select>
	
	<update id="updateCatKeeper">
		UPDATE
			   CAT_KEEPER
		   SET
		   	   CAT_KEEPER_NAME = #{catKeeperName}
		 WHERE
		 	   CAT_KEEPER_ID = #{catKeeperId}
	</update>
	
	<delete id="deleteCatKeeper">
		DELETE
		  FROM
		  	   CAT_KEEPER
		 WHERE
		 	   CAT_KEEPER_ID = #{catKeeperId}
	</delete>
	
</mapper>